.red .ant-checkbox-inner,
{
  background-color: #DB2C2C !important;
}

.green .ant-checkbox-inner,
{
  background-color: #5CB69B !important;
}

.blue .ant-checkbox-inner,
{
  background-color: #5A7DD6 !important;
}

.yellow .ant-checkbox-inner,
{
  background-color: #DCC655 !important;
}
